/*==========================================
    price
==========================================*/
.price {
    padding: 120px 0 120px;
    background: #f0f8ff;
    .nav-tabs {
        border-bottom: none;    
        display: inline-flex;
        position: relative;
        left: 50%;
        margin-left: -156px;
        margin-bottom: 38px;
        height: 50px;
        border-radius: 0px;
        .nav-item {
            .nav-link {
                display: inline-block;
                font-weight: 600;
                font-size: 16px;
                padding: 14px 0;
                text-align: center;
                width: 140px;
                color: $base-color;
                background: $white;
                border: 1px solid $base-color;
                border-radius: 0;
                @include transition($transition);
                &:hover, &.active {
                    background: $base-color; 
                    color: $white;
                    border-color: $base-color;
                }
            }
            &:last-child {
                .nav-link {
                    border-radius: 0;
                }
            }
        }
    }
    .single-price {
        text-align: center;
        box-shadow: 0px 0px 9px 2px #F5F5F5;
        &:hover, &.active {
            box-shadow: 0px 0px 19px 12px #F5F5F5;
        }
        .part-top {
            padding: 26px 30px 30px;
            // border: 1px solid #91039f;
            background: $base-color;
            // border-radius: 10px 10px 0px 0px;
            h3 {
                font-size: 24px;
                color: $white;
                font-weight: 600;
                margin-bottom: 28px;
                border-bottom: 1px solid;
                padding-bottom: 23px;
            }
            h4 {
                font-size: 42px;
                color: $white;
                span {
                    font-size: 16px;
                    display: block;       
                    margin-top: 4px;  
                }
            }
        }
        .part-bottom {
            padding: 21px 30px 40px;
            background: $white;
            // border-radius: 0px 0px 10px 10px;
            ul {
                li {
                    color: $base-color;
                    font-size: 16px;
                    padding: 12px 0;
                    &:first-child {
                        font-weight: 600;
                        font-size: 18px;
                        padding-bottom: 6px;
                    }
                }
            }
            a {
                display: inline-block;
                color: $white;
                background: $base-color;
                width: 100%;
                width: 100%;
                padding: 15px 0;
                // border-radius: 5px;
                margin-top: 25px;
                border: 2px solid $base-color;
                @include transition($transition);
                &:hover {
                    background: transparent;
                    color: $base-color;
                }
            }
        }
    }
}
